*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins'sans-serif;
}
.bg-color{
    background-color: #F0FFF0;
    height: 576px;
}
.btn-1{
    width:104px;
    height: 43;
    background: #21B573;
    border: none;
    border-radius: 33px;
    padding: 12px 28px 12px 28px;
}
.nav-link {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin-right: 40px;
}
.img-1{   
    height: 59px;
    width: 198.07142639160156px;
    left: 212px;
    top: 30px;
    border-radius: 0px;

}
.container{
    margin-top: 5px;
    margin-bottom: 20px;
}
.bt-1{
    font-family: 'Poppins',sans-serif;
    color: #FD511A;
}
.bt-2{
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
}
.tc-1{
    color: #21B573;
}
.bt-3{
 font-family: 'Poppins',sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 36px;
 color: #6C6B6B;
}
.btn-2{
    width: 160px;
    height: 50px;
    border-radius: 33px;
    padding: 12px 36px 12px 36px;
    background: #21B573;
    border: none;
}
.row{
    margin-top: 80px;
}